<module name="reportservice" namespace="ns" expose="true" xmlns="http://wso2.org/projects/jaggery/module.xml">    
	<hostObject>
            <className>com.wso2telco.dep.reportingservice.BillingHostObject</className>
            <name>BillingHostObject</name>
    </hostObject>
	<hostObject>
            <className>com.wso2telco.dep.reportingservice.WorkflowHostObject</className>
            <name>WorkflowHostObject</name>
    </hostObject>
</module>

